# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.env

# Data (versioned by DVC, not git)
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep

# Models & artifacts
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

# MLflow
mlflow.db
mlartifacts/
mlruns/
mlartifacts/

# DVC
/data/**/*.dvc
.dvc/cache
.dvc/tmp

# Notebooks
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
